Toyota.Tsusho.API.Testing/Service References/VehicleServiceReference/VehicleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ttaf.co.za/talo/api/2014/05" elementFormDefault="qualified" targetNamespace="http://www.ttaf.co.za/talo/api/2014/05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://toyotabtsdev/Toyota.Tsusho.TALO.API/VehicleService.svc?xsd=xsd2" namespace="http://www.ttaf.co.za/talo/api/2014/05/vehicle" />
  <xs:element name="VehicleAllocateRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.ttaf.co.za/talo/api/2014/05/vehicle" minOccurs="0" ref="q1:Allocations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ModificationEnumeration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Create" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModificationEnumeration" nillable="true" type="tns:ModificationEnumeration" />
  <xs:element name="VehicleRegisterRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.ttaf.co.za/talo/api/2014/05/vehicle" minOccurs="0" ref="q2:Registrations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>