Toyota.Tsusho.TALO.Schemas/MasterNotifyService_www_ttaf_co_za_talo_api_2014_05_master.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://www.ttaf.co.za/talo/api/2014/05/master" elementFormDefault="qualified" targetNamespace="http://www.ttaf.co.za/talo/api/2014/05/master" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CodeNameDataContract">
    <xs:sequence>
      <xs:element name="Code" nillable="true" type="xs:string" />
      <xs:element name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CodeNameDataContract" nillable="true" type="tns:CodeNameDataContract" />
</xs:schema>