Toyota.Tsusho.API.Testing/Service References/OrderServiceReference/OrderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ttaf.co.za/talo/api/2014/05/order" elementFormDefault="qualified" targetNamespace="http://www.ttaf.co.za/talo/api/2014/05/order" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConfirmationDataContract">
    <xs:sequence>
      <xs:element name="Code" nillable="true" type="xs:string" />
      <xs:element name="Plant" type="xs:int" />
      <xs:element name="Units" type="xs:int" />
      <xs:element name="Produced" type="xs:dateTime" />
      <xs:element name="Suffix" nillable="true" type="xs:string" />
      <xs:element name="Color" nillable="true" type="tns:ColorDataContract" />
      <xs:element name="Category" nillable="true" type="xs:string" />
      <xs:element name="Purchaser" nillable="true" type="tns:PurchaserDataContract" />
      <xs:element name="Vendor" nillable="true" type="xs:string" />
      <xs:element name="Delivery" type="xs:dateTime" />
      <xs:element name="Order" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmationDataContract" nillable="true" type="tns:ConfirmationDataContract" />
  <xs:complexType name="ColorDataContract">
    <xs:sequence>
      <xs:element name="Internal" nillable="true" type="xs:string" />
      <xs:element name="External" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorDataContract" nillable="true" type="tns:ColorDataContract" />
  <xs:complexType name="PurchaserDataContract">
    <xs:sequence>
      <xs:element name="Group" nillable="true" type="xs:string" />
      <xs:element name="Organization" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaserDataContract" nillable="true" type="tns:PurchaserDataContract" />
  <xs:element name="Confirmation" nillable="true" type="tns:ConfirmationDataContract" />
</xs:schema>